@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');



* {
    font-family: 'Overpass', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240)
}


.wrapper {
    width: 100vw;

    display: grid;
    grid-template-areas:
    "na na na na na na na"
    "sh sh sh sh sh sh sh"
    "he he he he he he he"
    "a1 a1 a1 a1 a1 a1 .."
    "l1 l1 l1 l1 l1 l1 l1"
    "a2 a2 a2 a2 a2 a2 a2"
    "l2 l2 l2 l2 l2 l2 l2"
    "a3 a3 a3 a3 a3 a3 a3"
    "fo fo fo fo fo fo fo"
    ;
    grid-template-rows: 10vh 30vh 0px 60vh 10vh 200vh 10vh 90vh 10vh;
    grid-template-columns: repeat(7, 1fr);
}

.nav     {
    grid-area: na;

    background-color: rgb(250, 250, 250);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav > .button {
    background-color: rgb(240, 240, 240);
    display: table;
    text-align: center;
    border-radius: 5px;
    height: 80%;
    width: 25%
}

.nav > .button > a {
    display: table-cell;
    vertical-align: middle;
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

header {
    /* position: relative; */
    grid-area: he;
    background-color: rgba(255, 255, 255, 0.247);
    justify-self: center;
    width: 50vw;
    height: 20vh;
    display: flex;
    transition-duration: 300ms;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    backdrop-filter: blur(3px);
}

#title-long {
    font-size: 5rem;
    color:rgb(0, 0, 0);
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    transition-duration: 250ms;
    color: white;
}

#logo_multicolor {
    color:rgb(163, 0, 136);
}


.scrolled {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85  );
    height: 5vh;
    width: 100%;
    border-radius: 0;
}


.scrolled #title-long {
    font-size: 2rem;
    color: black;
}


.line1 {
    grid-area: l1;
    background-color: white;
}

.line2 {
    grid-area: l2;
    background-color: white;
}

.article1 {
    grid-area: a1;
    align-items: center;
}

.article1 img {
    background-size: cover;
    width: auto;
    height: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    bottom: 0;
    left:0;
    right:0;

    margin-left:auto;
    margin-right:auto;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

#shadow {
    grid-area: sh;
    width: 100%;
    height: 100%;
    bottom: 40vh;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.336) 0%, rgba(0, 0, 0, 0.116) 14%, rgba(0,0,0,0) 39%);
    z-index: -1;
}

.article2 {
    grid-area: a2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    ".. .. .. .. .."
    ".. c1 .. .. .."
    ".. .. .. c2 .."
    ".. c3 .. .. .."
    ".. .. .. .. ..";
    grid-template-rows: 2fr 4fr 4fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr
}

#card1 {
    grid-area: c1;
    background-color: rgb(248, 248, 248);
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}






.article3 {
    grid-area: a3;
}

.footer {
    grid-area: fo;
    background-color: gray;
}

