@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');



* {
    font-family: 'Overpass', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240)
}


.wrapper {
    width: 100%;

    display: grid;
    grid-template-areas:
    "na na na na na na na"
    "sh sh sh sh sh sh sh"
    "he he he he he he he"
    "a1 a1 a1 a1 a1 a1 .."
    "l1 l1 l1 l1 l1 l1 l1"
    "a2 a2 a2 a2 a2 a2 a2"
    "l2 l2 l2 l2 l2 l2 l2"
    "a3 a3 a3 a3 a3 a3 a3"
    "fo fo fo fo fo fo fo"
    ;
    grid-template-rows: 10vh 30vh 0px 60vh 10vh 200vh 10vh 90vh 10vh;
    grid-template-columns: repeat(7, 1fr);
    overflow-x: hidden;
}

.nav     {
    grid-area: na;

    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.button {
    background-color: rgb(240, 240, 240);
    display: table;
    text-align: center;
    border-radius: 5px;
    height: 80%;
    width: 25%;
    border-color: black;
    border-width: 2px;
    border: rgb(15, 15, 15) solid 2px;  
}

.nav > .button > a {
    display: table-cell;
    vertical-align: middle;
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

header {
    /* position: relative; */
    grid-area: he;
    background-color: rgba(255, 255, 255, 0.247);
    justify-self: center;
    width: 50vw;
    height: 20vh;
    display: flex;
    transition-duration: 300ms;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    z-index: 100 
}

#title-long {
    font-size: 5rem;
    color:rgb(0, 0, 0);
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    transition-duration: 250ms;
    color: white;
}

#logo_multicolor {
    color:rgb(255, 255, 255);
}


.scrolled {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85  );
    height: 10vh;
    width: 100%;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}


.scrolled #title-long {
    font-size: 2rem;
    color: black;
}


.line1 {
    grid-area: l1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.line2 {
    grid-area: l2;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.article1 {
    grid-area: a1;
    align-items: center;
}

.article1 img {
    background-size: cover;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    bottom: 0;
    left:0;
    right:0;

    margin-left:auto;
    margin-right:auto;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    object-fit: cover; 
}

#shadow {
    grid-area: sh;
    width: 100%;
    height: 100%;
    bottom: 40vh;
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.336) 0%, rgba(0, 0, 0, 0.116) 14%, rgba(0,0,0,0) 39%);
    z-index: -1;
}

.article2 {
    grid-area: a2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    ".. .. .. .. .."
    ".. t1 .. .. .."
    ".. c1 .. .. .."
    ".. .. .. t2 .."
    ".. .. .. c2 .."
    ".. t3 .. .. .."
    ".. c3 .. .. .."
    ".. .. .. .. ..";
    grid-template-rows: 2fr 1fr 4fr 1fr 4fr 1fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr
}


.article2 h1 {
    font-size: 4rem;
}


#cardtitle1 {
    grid-area: t1;
    text-align: center;
}
#cardtitle2 {
    grid-area: t2;
    text-align: center;
}
#cardtitle3 {
    grid-area: t3;
    text-align: center;
}

.card {
    background-color: rgb(248, 248, 248);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 20px 60px 40px -7px;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.0) 00px 00px 60px 0px;
    transform: translate(20px, 60px);
    transform: scale(0.95, 0.95);
}

#card1 {
    grid-area: c1;
    
}

#card2 {
    grid-area: c2;
}

#card3 {
    grid-area: c3;
}






.article3 {
    grid-area: a3;
}

.footer {
    grid-area: fo;
    background-color: gray;
}

